<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8  mt-20">
  <p>Chào mừng đến với TrungDuc - điểm đến lý tưởng cho những người yêu thời trang và phong cách.</p>
  <p>Chúng tôi tự hào là nơi tập trung các bộ sưu tập đa dạng về quần áo, từ những mẫu thiết kế hiện đại đến những kiểu dáng cổ điển và đẳng cấp.</p>
  <p class="pb-4">Với một sự kết hợp độc đáo giữa xu hướng mới nhất và chất lượng đảm bảo, chúng tôi cam kết mang lại trải nghiệm mua sắm tuyệt vời và sự hài lòng tuyệt đối cho khách hàng của mình.</p>
  <hr>
  <p class="pt-4">Tại TrungDuc, bạn sẽ dễ dàng khám phá và chọn lựa cho mình những sản phẩm phù hợp nhất với phong cách và cá nhân của mình.</p>
  <p>Từ áo sơ mi thanh lịch đến váy dạ hội quyến rũ, từ quần jean cá tính đến trang phục thể thao thoải mái, chúng tôi luôn cập nhật và mở rộng bộ sưu tập để đáp ứng nhu cầu đa dạng của khách hàng.</p>
  <p>Hãy tham gia cùng chúng tôi và khám phá thế giới thời trang đa dạng và phong phú tại TrungDuc ngay hôm nay!</p>
</div>
